body {
    background-color: black;
    color: white;
    width: 100%;
    text-align: left;
    font-family: arial;
}
#maindiv{
    background-color: white;
    color: black;
    width: 35%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 2%;
    border-radius: 3%;
    padding-left:3%;
    font-family: arial;
    padding-top: 0%;
    padding-bottom: 1%;
    font-weight: bold;
    border: medium solid black; /*border width,style,color*/
}
#div2{
    padding: 7%;
    padding-bottom: 1%;
    padding-top: 0%;
}
#result2, #result4, #result6, #result8{
    background-color:yellow;
    font-weight: normal;
}
footer{
    font-weight: bold;
}
label{
    width:35%;
    display: inline-block; /*行内块元素*/
    overflow: hidden; /*内容溢出元素框不可见*/
}
h1 {
    color:gray;
    font-family: verdanna;
}


