body {
    background-color: white;
    color: black;
    width: 100%;
    border-radius: 25%;
    text-align: left;
    font-family: arial;
}
#maindiv{
    padding: 5%;
    text-align: left;
    font-family: arial;
    padding-top: 0px;
    padding-bottom: 0px;
    font-weight: bold;
}
#result2, #result4, #result6, #result8{
    background-color:yellow;
    font-weight: normal;
}
footer{
    font-weight: bold;
}
label{
    width: 10%;
    display: inline-block;
    overflow: hidden;
}
h1 {
    color:gray;
    font-family: verdanna;
}


